<h1><strong><%= @book.title %></strong></h1>
<h3>It's About:</h3>
<p><%= @book.blurb %></p>
<h3>Author:</h3>
<p><%= link_to @book.author.name, author_path(@book.author) %></p>
<h3>Genre:</h3>
<p><%= link_to @book.genre.name, genre_path(@book.genre) %></p>
