<% if user.book_lists.present? %>
  <h3>Your Book Lists</h3>
    <ol>
      <% user.book_lists.each do |book_list| %>
        <li><%= link_to book_list.title, book_list_path(book_list) %></li>
      <% end %>
    </ol>
<% end %>

<% if user.books.present? %>

  <h3>Books you're currently reading:</h3>
    <ol>
      <% user.books_by_status("Currently reading").each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ol>

  <h3>Books you want to read but haven't yet:</h3>
    <ol>
      <% user.books_by_status("Want to read").each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ol>

  <h3>Books you have already read:</h3>
    <ol>
      <% user.books_by_status("Already read").each do |book| %>
        <li><%= link_to book.title, book_path(book) %></li>
      <% end %>
    </ol>

<% end %>
